max-width: 1280px;
}
/* We're working with the body tag, and so with the WHOLE page */
body {
  background-color: #92a8d1;
}

h1 {
  font-weight: bold;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.logo {
	position:fixed;
	top:0;
	left:0;
}

.intro {
    position:fixed;
	top:0;
	left:0;
}
